<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/Home.css">
  <title>Home</title>
</head>
<body>
  <div class="center">
    <div class="title">
      <h1 class="title">
        Chess War
      </h1>
    </div>
    
    <form method="post">
      <div class="formstyle">
        <div class="center">
          <div class="center">
            <input type="text" name="Username" id="Username" placeholder="Username" class="inputboxes">
            <input type="email" name="Email" id="Email" placeholder="Email" class="inputboxes">
            <input type="password" name="Password" id="Password" placeholder="Password" class="inputboxes">
          </div>
          <button type="submit" class="inputboxes">
            <h2 class="linkstyle">
              Create Account
            </h2>
          </button>
        </div>
      </div>
    </form>

    <div class="linkstyle">
      <a href="login" class="linkstyle">
        Login
      </a>
    </div>
  </div>

  

  


</body>
</html>